.cta-create {
    display: flex;
    padding: 9px 20px;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    background: #6225E6;
    background: #118c97;
    transition: 1s;
    box-shadow: 6px 6px 0 black;
    transform: skewX(-15deg);
    border: none;
}

    .cta-create:focus {
        outline: none;
    }

    .cta-create:hover {
        transition: 0.5s;
        box-shadow: 10px 10px 0 #FBC638;
    }

    .cta-create .second {
        transition: 0.5s;
        margin-right: 0px;
    }

    .cta-create:hover .second {
        transition: 0.5s;
        margin-right: 45px;
    }

.span-create {
    transform: skewX(15deg)
}

.second {
    width: 20px;
    margin-left: 30px;
    position: relative;
    top: 12%;
}

.one {
    transition: 0.4s;
    transform: translateX(-60%);
}

.two {
    transition: 0.5s;
    transform: translateX(-30%);
}

.cta-create:hover .three {
    animation: color_anim 1s infinite 0.2s;
}

.cta-create:hover .one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
}

.cta-create:hover .two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
}

@keyframes color_anim {
    0% {
        fill: white;
    }

    50% {
        fill: #FBC638;
    }

    100% {
        fill: white;
    }
}
