.card-msg {
    max-width: 320px;
    border-width: 1px;
    border-color: rgba(219, 234, 254, 1);
    border-radius: 1rem;
    background-color: rgba(255, 255, 255, 1);
    padding: 1rem;
}

.header-msg {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
    gap: 1rem;
}

.icon-msg {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    background-color: rgba(96, 165, 250, 1);
    padding: 0.5rem;
    color: rgba(255, 255, 255, 1);
}

    .icon-msg svg {
        height: 1rem;
        width: 1rem;
    }

.alert-msg {
    font-weight: 600;
    color: rgba(107, 114, 128, 1);
}

.message-for-notify {
    margin-top: 1rem;
    color: rgba(107, 114, 128, 1);
}

.actions-msg {
    margin-top: 1.5rem;
}

    .actions-msg a {
        text-decoration: none;
    }

.mark-as-read-msg,
.read-msg {
    display: inline-block;
    border-radius: 0.5rem;
    width: 100%;
    padding: 0.75rem 1.25rem;
    text-align: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
}

.read-msg {
    background-color: rgba(59, 130, 246, 1);
    color: rgba(255, 255, 255, 1);
}

.mark-as-read-msg {
    margin-top: 0.5rem;
    background-color: rgba(249, 250, 251, 1);
    color: rgba(107, 114, 128, 1);
    transition: all .15s ease;
}

    .mark-as-read-msg:hover {
        background-color: rgb(230, 231, 233);
    }
