@{
    Layout = "_Layout";
}

@model ApplicationLayer.DTOs.SupplierDTO
<div class="page-heading bg-light">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <h1>Add The Information The Supplier</h1>
                <p class="mb-4"><a>Inventory Management</a> / <strong>Add Supplier Information</strong></p>
            </div>
        </div>
    </div>
</div>
<div class="untree_co-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-7 mr-auto order-1" data-aos="fade-up" data-aos-delay="200">
                <form method="post" action="@Url.Action("Create", "InventoryManagement")">
                    <div class="row">
                        <div class="col-6 mb-3">

                            <input type="text" asp-for="Name" class="form-control"
                                   placeholder="Suplier Name">

                            <span asp-validation-for="Name" class="text-danger"
                                  style="font-family:Open Sans;
                                    padding-top:5px;padding-bottom:15px;transition:all 1s;"></span>
                        </div>

                        <div class="col-12">
                            <input type="submit" value="Add Supplier" class="btn btn-primary">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts{
    <script src="~/JQuery/JQ.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
}